.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f9fafb;
  }
  
  th, td {
    padding: 8px 16px;
    text-align: left;
  }
  
  .bg-gray-100 {
    background-color: #f3f4f6;
  }
  
  .bg-yellow-100 {
    background-color: #fef3c7;
  }
  
  .bg-green-100 {
    background-color: #d1fae5;
  }
  
  .bg-blue-100 {
    background-color: #dbeafe;
  }

  .grew {
    background-color: gray;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .blue {
    background-color: blue;
  }
  
  